{% extends 'main/base.html'%}
{% block count %}
    {% with count=cart_count %}
        {{ block.super }}
    {% endwith%}
{% endblock count%}
{% block body %}
<style type="text/css">

table {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}



tr:hover {background-color: #ddd;}


</style>
<div class="site-wrap">
    <div class="custom-border-bottom py-3">
      <div class="container">
        <div class="row">
          <div class="col-md-12 mb-0">
            <a href="../">Home</a> 
             
            
          </div>
        </div>
      </div>
    </div>
 <div class="site-section">
      <div class="container">
        
        <div class="row">
          <div class="col-md-6 mb-5 mb-md-0">

      <div class="p-3 p-lg-5 border">
<form method="POST" >
{% csrf_token %}
<table >
{{form}}
 </table>

<div><button id="Change Password" class="btn btn-primary btn-lg" type="submit">Change Password</button></div>
</form>
</br>
</div>
</div>
</div>
</div>
</div>
</div>





 {%endblock%}
