{% extends 'main/base.html'%}
{% block body %}
  <div class="site-wrap">
    

    

    <div class="site-section" align="center">
      <div class="container">
        <div class="title-section mb-5">
          
          <form method="POST" class="d-block">
    	    	{% csrf_token %}
        		<table>
            {{form}}
            </table>  
      	  		<br><button style="background-color:#F4EB16; color:blue;align-content: center;"  class="btn btn-outline-info" type="submit">Reset Password</button>
    	   </form>
        </div>
        
      </div>
    </div>
    			
       

    
  </div>

  <script src="/static/js/jquery-3.3.1.min.js"></script>
  <script src="/static/js/jquery-ui.js"></script>
  <script src="/static/js/popper.min.js"></script>
  <script src="/static/js/bootstrap.min.js"></script>
  <script src="/static/js/owl.carousel.min.js"></script>
  <script src="/static/js/jquery.magnific-popup.min.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/aos.js"></script>
  <script src="/static/js/carousel.js"></script>
  

  <script src="/static/js/main.js"></script>
    
{% endblock %}